body {
    background-color: black;
}
#area b {
 font-family: Courier, monospace;
 font-size: 30px;
 font-weight: normal;
}


.cell {
    /* IMPEDE QUE O USUÁRIO SELECIONE */
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */

    /* TRANSIÇÃO DE COR */
    -o-transition:.7s;
    -ms-transition:.7s;
    -moz-transition:.7s;
    -webkit-transition:.7s;
    /* ...and now for the proper property */
    transition:.7s;
}

.cell:hover {
    background-color: yellow;
}

/*
A partir daqui os cores
*/

.red {
    color: red;
}

.white {
    color:white;
}

.blue {
    color:blue;
}

.null {
    color:gray;
    background-color: black;
}

.entity {
    color: red;
}

.bg-green {
    background-color: green;
}

.bg-orange {
    background-color: orange;
}

