body {
    background-color: black;
    color: red;
    cursor: none;
}

#area {
    height: 97vh;
    width: 97vw;
}

@font-face {
    font-family: 'ConsoleChars';
    src: url("fonts/cour.ttf") format("truetype"),
        url("fonts/courbd.ttf") format("truetype"),
        url("fonts/courbi.ttf") format("truetype"),
        url("fonts/couri.ttf") format("truetype")
}

#area b {
 font-family: 'ConsoleChars';
 font-size: 30px;
 font-weight: normal;
}


.cell {
    /* IMPEDE QUE O USUÁRIO SELECIONE */
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */

    /* TRANSIÇÃO DE COR */
    /*-o-transition:.2s;
    -ms-transition:.2s;
    -moz-transition:.2s;
    -webkit-transition:.2s;
    /* ...and now for the proper property */
    /*transition:.2s;*/
}

.cell:hover {
    background-color: rgba(128, 128, 128, 0.76);
    hyphenate-character: 'f';
}

/*
A partir daqui os cores
*/

.red {
    color: red;
}

.white {
    color:white;
}

.blue {
    color:blue;
}

.null {
    color:gray;
    background-color: #2D2D30;
}

.gray {
    color: lightslategray;
}

.black {
    color: black
}

.crown {
    color: rgb(52, 184, 52)
}

.brown {
    color: brown
}

.entity {
    color: lightblue;
}

.bg-green {
    background-color: green;
}

.bg-orange {
    background-color: orange;
}

.bg-blue {
    background-color: blue;
}

.bg-gray {
    color: lightslategray;
}

.bg-black {
    background-color: black;
}
